@headerHeight: 80px;
@mainColorA: #00dfe8;
@mainColorB: #009be5;
@mainColorC: #0069d2;
@mainColorD: #77c7f2;
@mainColorE: #daf1fd;

.backgroundLinearGradient(@colorA, @colorB) {
  background-image: -webkit-linear-gradient(@colorA, @colorB);
  background-image: -moz-linear-gradient(@colorA, @colorB);
  background-image: -o-linear-gradient(@colorA, @colorB);
  background-image: linear-gradient(@colorA, @colorB);
}

.boxSizing() {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.fonts(@name: Arial, @style: normal, @weight: normal, @filename: '') {
	@font-face {
		font-family: @name;
		font-style: @style;
		font-weight: @weight;
		src: url('../font/@{name}@{filename}.woff');
	}
}

.position(@top: auto, @right: auto, @bottom: auto, @left: auto) {
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
}

.transition(@target, @duration: .4s, @ease: ease, @delay: 0) {
  -webkit-transition: @target @duration @ease @delay;
  -moz-transition: @target @duration @ease @delay;
  -ms-transition: @target @duration @ease @delay;
  -o-transition: @target @duration @ease @delay;
  transition: @target @duration @ease @delay;
}

.error {
  color: #ddd;
  opacity: 1;
  font-weight: bold;
  background: rgba(200,0,0,0.5);
  a&:hover {
    color: white;
    background: rgba(200,0,0,0.8);
  }
}

.fonts(Gotham, normal, normal, '-Light');
.fonts(Gotham, italic, normal, '-LightItalic');
.fonts(Gotham, normal, bold, '-Medium');
.fonts(Gotham, italic, bold, '-MediumItalic');


/* Defaults */

html {
  width: 100%;
  height: 100%;
}

body {
	font: 16px Gotham, 'Lucida Sans Unicode', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	overflow: hidden;
  color: white;
  text-shadow: 0 0 3px black;
  position: absolute;
  .position(0,0,0,0);
  .boxSizing();
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background-color: #222;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
	color: @mainColorB;

	&, &:visited, &:hover, &:active {
		text-decoration: none
	}

	&:hover {
		color: @mainColorC;
	}
}

input, textarea {
  text-shadow: 0 0 3px black;
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 10px;
  background: none;
  font: 16px Gotham, 'Lucida Sans Unicode', Arial, sans-serif;
  outline: 0;
  .boxSizing();
  &:hover {
    background: rgba(255,255,255,0.1);
  }
  &:focus {
    color: white;
      background: rgba(255,255,255,0.4);
  }

  &.composer {
    &:hover {
      background: none;
      color: @mainColorE;
    }

    &:focus {
      background: none;
      color: @mainColorD;
    }
  }

  &[type=submit] {
    color: @mainColorC;
    &:hover {
      background: rgba(255,255,255,0.4);
    }

    &.link {
      background: none;
      color: @mainColorB;
      &:hover {
        background: none;
        color: @mainColorC;
      }
    }
  }

  &[type=checkbox] {
    -webkit-appearance: checkbox;
  }
}

p {
	margin: 0
}

span {
  &.link-color {
    color: @mainColorC;
  }
}


/* Content */

aside {
	position:absolute;
	.position(0,auto,0,0);
	width: 250px;
  outline: 1px solid transparent;
	overflow: hidden;
	&.nav-opened {
		left: -1px;
	}
	&.nav-closed {
		left: -251px;
	}
	#project-title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		font-size: 125%;
		font-weight: bold;
		color: white;
	    height: @headerHeight - 2;
	    border-bottom: 1px solid transparent;
		padding: 0 25px;
		background: rgba(0,0,0,.6);
		line-height: @headerHeight - 2;
		
		span.version {
			font-size: 75%;
			font-weight: normal;
		}
	}
	nav {
		position: absolute;
    background-color: rgba(0,0,0,.6);
		top: @headerHeight;
		left: 0;
		bottom: 0;
		width: 100%;
		overflow-y: auto;
		a {
			display: block;
			height: 20px;
			color: white;
			padding: 20px 30px;
			opacity: .8;
			&:hover {
				opacity: 1;
				color: white;
				background-color: @mainColorC;
				background: rgba(0,0,0,.2);
			}
      &.active {
        border-color: white;
        opacity: 1;
        font-weight: bold;
      }
      &.no-public {
        color: #888;
        &:hover {
          background: transparent;
          opacity: .8
        }
      }
		}
	}
}

body > header, main, .menu {
	&.nav-opened {
		left: 250px;
		right: -250px;
	}
	&.nav-closed {
		left: 0;
		right: 0;
	}
}

body.nav-opened {
	aside {
		width: 250px;
	}
}


body > header {
	position: absolute;
	display: block;
	width: 100%;
	height: @headerHeight - 1;
	background: rgba(0,0,0,.6);
	.boxSizing();
	.transition(padding-left, .4s, ease, .2s);
	p {
		&#app-name {
			display: inline-block;
			font-weight: bold;
			font-size: 125%;
			padding: 0 0 0 40px;
			line-height: @headerHeight;
		}
	}


	&:hover {
		padding-left: 20px;
		.transition(padding-left);
		#nav-opener {
			opacity: .2;
			.transition(opacity, .4s, ease, .2s);
			&:hover {
				opacity: .7;
				.transition(opacity, 0);
			}
		}
	}

	#nav-opener {
		display: block;
		position: absolute;
		top: 25px;
		left: 20px;
		opacity: 0;
		width: 30px;
		height: 30px;
		background-image: url(../icon/arrow-left.png);
		background-size: contain;
    background-repeat: no-repeat;
		.transition(opacity, .4s, ease);
		cursor: pointer;
	}
}

.menu {
  position: absolute;
  display: block;
  width: 100%;
  height: @headerHeight - 2;
  .position(@headerHeight,0,0,0);
  line-height: @headerHeight - 1;
  border-bottom: 1px solid transparent;
  background-color: rgba(0,0,0,.6);

  p {
    padding: 0 40px;
  }

  section {
    top: 0
  }
}

main {
	position: absolute;
	top: @headerHeight;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	.position(80px,0,0,0);
  &.display-menu {
    top: @headerHeight * 2;
  }
	article {
		display: block;
		width: 100%;
		background: transparent;

    &.error {
      background: #9f0100;
      color: white;
      font-weight: bold;

      span.identifier {
        font-size: 75%;
        font-weight: normal;
      }

      section {
        padding: 20px;
      }
    }

		> header {
			height: 200px;
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: top;

      p {
        padding: 0 40px;
      }

      .header-img {
        display: block;
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 200px;
        top: @headerHeight;
      }

      @media (max-width:1000px) {
        background-size: 1000px;
      }

			p#header-title {
				font-size: 150%;
				font-weight: bold;
				color: white;
				position: relative;
				.position(160px)
			}
		}

		section {
      background-color: rgba(0,0,0,.6);
			padding: 20px;
		}
	}
	footer {
    border-top: 1px solid transparent;
    margin-top: 1px;
    background: rgba(0,0,0,0.6);
		position: relative;
		display: block;
    width: 100%;

    section {
    position: relative;
    display: block;
  		width: 360px;
  		margin: 0 auto;
  		padding: 30px;
  		.boxSizing();
  		text-align: left;
  		font-size: 75%;
  		a {
  			display: block;
  			padding: 7px 17px;
  			color: #ddd;
  			text-shadow: 0 -1px 0 #333;
  			&:hover {
  				color: #888;
  				.logo-behind {
  					background-image: url(../logo_behind.png);
  					border-color: #888;
  				}
  			}
  		}

  		.logo-behind {
  			display: inline-block;
  			float: left;
  			width: 40px;
  			height: 40px;
  			padding: 0 17px;
  			margin-right: 17px;
  			margin-top: -7px;
  			border-right: 1px solid #ddd;
  			background-image: url(../logo_behind_lighter.png);
  			background-size: 40px;
  			background-position: center;
  			background-repeat: no-repeat;
  		}
    }
	}
}
