main article section{padding:0}main article section p.title{padding:20px;color:#888;font-size:85%;margin-bottom:15px;width:100%}main article section form input{width:100%;padding:20px;text-align:center;font-weight:bold}