main {
	article {
		section {
			padding-left: 30px;
			border-left: 10px solid transparent;

			&.admin {
				border-left-color: #1da1f9;
				.blog-title {
					color: #1da1f9;
				}
				&.composed {
					border-left-color: #ff7600;
					.blog-title {
						color: #ff7600;
					}
				}
			}

			.blog-title {
				padding: 0;
				font-weight: bold;
				font-size: 150%;
				width: 100%;
			}
			.blog-subtitle {
				padding: 0;
				color: #888;
				font-size: 85%;
				margin-bottom: 15px;
				width: 100%;
			}
			.blog-content {
				padding: 0;
				width: 100%;
			}

			textarea {
				resize:none;
			}
		}
	}
}
